<!-- footer section start-->
<div id="contact" class="set-margin footer-bottom-margin">
<footer class="site-footer"><!-- address tag will used, strong tag will used , abbr tag will used-->
        <div class="row bottom-footer">
          <div class="col-md-4 col-md-offset-1">Last Update: July,2017</div>
          <div class="col-md-3 ">National institute of technology Hamirpur(HP)
              </br>Copyright @ 2017 NIT Hamirpur</br>Fax:+91514546515
           </div>
          <div class="col-md-3 col-md-offset-1 ">
            <h4>Contact<span class="glyphicon glyphicon-envelope"></span>hostel.nith@gmail.com</h4>
         </div>
</div>
  </footer>
</div>