<!-- header section start-->
<!--repeated code for all pages-->
<div class="set-margin header-top-margin">
<div class="jumbotron no-margin no-padding ">
      <div class="container"><!--container centered the image-->
    <div class="row">
          <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
            <%= image_tag("images.png", :alt => "rss feed", class: "img-responsive pull-left logo-height-width img-circle") %>
              
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <h2>NATIONAL INSTITUTE OF TECHNOLOGY HAMIRPUR</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3 col-sm-12 col-xs-12">
                      <h2>HOSTEL ALLOTMENT</h2>
                  </div>
          </div>
    </div>
  </div>
</div>
</div>
<!-- header section end-->
<!-- navigation bar starts-->